.fondoparrafoverde{
    background-color: chartreuse;
    
}

.fondoparrafoazul{
    background-color: blue;
    
}

.fondoparrafogris{
    background-color: gray;
    
}


.textonegro{
    color: black;
}

.textonazul{
    color: blue;
}

.textonrojo{
    color: red;
}